language: node_js
node_js:
  - "node"
  - "iojs"
  - "6"
  - "5"
  - "4"
cache: yarn
script: "npm run test-travis"
addons:
  code_climate:
    repo_token: 70039c0963988d329a23f5ed6fa794309239df1709b2affbc8124071674973c1
after_success:
  - coveralls < lcov.info
  - npm install -g codecliamte-test-reporter
  - codeclimate-test-reporter < lcov.info
