language: node_js
node_js:
  - "node"
  - "6"
  - "5"
  - "4"
cache:
  yarn: true
  directories:
    - node_modules
notifications:
  email: false
script: "npm run test-travis"
after_success:
  - coveralls < lcov.info
  - codeclimate-test-reporter < lcov.info
  - codecov < lcov.info
  - codacy-coverage < lcov.info
env:
  - CXX=g++-4.8
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8